---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}", "minima/initialize";

nav a {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding-bottom: 5px;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #007acc; 
  transition: width 0.3s ease-in-out;
}

nav a:hover::after {
  width: 100%;
}

/* underline active for the current page */
nav a.active::after {
  width: 100%;
}


